torch
torchaudio
torchvision
accelerate
diffusers
einops
numpy
pandas
scipy
soundfile
librosa
tqdm
opencv-python
av
omegaconf
pytorch-lightning
torchmetrics
threadpoolctl
pesq
audioldm_eval
pyloudnorm
ffmpeg-normalize
mmcv
xformers
wandb
